.footer {
  background: var(--darkBlue);
  color: var(--white);
  padding: 2em 0;
  text-align: center;
  svg {
    display: block;
    margin: auto;
    margin-bottom: 2em;
  }
  &__social {
    display: grid;
    grid-template-columns: repeat(5, 25px);
    grid-column-gap: 1em;
    justify-content: center;
    margin-bottom: 2.5em 0;
  }
  &__link {
    display: block;
    color: var(--lightGray);
    text-decoration: none;
    margin-bottom: 2em;
  }
  &__copyright {
    color: var(--grayBlue);
    margin-top: 2em;
  }
}

@mixin icon {
  width: 40px;
  height: 40px;
  display: inline-flex;
  background-repeat: no-repeat;
}

.icon {
  &__facebook {
    @include icon;
    background-image: url(../images/icon-facebook.svg);
  }
  &__youtube {
    @include icon;
    background-image: url(../images/icon-youtube.svg);
  }
  &__twitter {
    @include icon;
    background-image: url(../images/icon-twitter.svg);
  }
  &__pinterest {
    @include icon;
    background-image: url(../images/icon-pinterest.svg);
  }
  &__instagram {
    @include icon;
    background-image: url(../images/icon-instagram.svg);
  }
}
