.hero {
  text-align: center;
  padding-bottom: 3em;
  background: var(--veryLightGray);

  .copy {
    margin-bottom: 2.5em;
  }
  &__image {
    height: 300px;
    background: url("../images/image-mockups.png") center bottom no-repeat,
      url("../images/bg-intro-mobile.svg") center no-repeat;
    background-size: 345px, cover;
    margin: 0 calc(-1 * var(--wrapperSpace));
    margin-bottom: 1em;
  }
  @media screen and (min-width: 748px) {
    text-align: left;
    background: url("../images/bg-intro-desktop.svg") right -380px top -100px
      no-repeat;
    background-size: cover;
    &__content {
      display: grid;
      grid-template-areas: "description image";
      grid-template-columns: 350px 1fr;
      min-height: 400px;
      align-items: center;
    }

    &__image {
      grid-area: image;
      min-height: inherit;
      background: url("../images/image-mockups.png") right -150px bottom no-repeat;
      background-size: cover;
      position: absolute;
      width: 500px;
      height: 500px;
      right: 0;
    }
  }
  @media screen and (min-width: 1024px) {
    text-align: left;
    background: url("../images/bg-intro-desktop.svg") right -450px top -200px
      no-repeat;
    background-size: cover;
    &__content {
      display: grid;
      grid-template-areas: "description image";
      grid-template-columns: 380px 1fr;
      min-height: 500px;
      align-items: center;
    }

    &__image {
      grid-area: image;
      min-height: inherit;
      background: url("../images/image-mockups.png") right -80px bottom no-repeat;
      background-size: cover;
      position: absolute;
      width: 600px;
      height: 650px;
      right: 0;
    }
  }
}
