.header {
  display: flex;
  padding: 1em 0;
  justify-content: space-between;
  position: relative;
}
.header__logo {
  align-self: center;
}
.header__content {
  display: flex;
  justify-content: space-between;
}
.header .button {
  display: none;
}
@media screen and (min-width: 1024px) {
  .header__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .header .button {
    display: inline;
  }
}

.menu {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu__button {
  width: 40px;
  height: 40px;
  background: url(../images/icon-hamburger.svg) no-repeat center;
}
.menu a {
  text-decoration: none;
  color: var(--grayBlue);
  padding: 0 0.8em;
}
.menu__checkbox {
  display: none;
}
.menu__checkbox:checked ~ .menu__button {
  background: url(../images/icon-close.svg) no-repeat center;
}
.menu__checkbox:checked ~ .menu {
  z-index: 10;
  display: block;
  position: absolute;
  top: 100%;
  background: white;
  padding: 1em;
  left: 0;
  right: 0;
  height: 100vh;
  background: linear-gradient(to bottom, var(--darkBlue) 0%, transparent 90%);
}
.menu__checkbox:checked ~ .menu .menu__item:first-of-type a {
  padding-top: 2em;
  border-radius: 0.5em 0.5em 0 0;
}
.menu__checkbox:checked ~ .menu .menu__item:last-of-type a {
  padding-bottom: 2em;
  border-radius: 0 0 0.5em 0.5em;
}
.menu__checkbox:checked ~ .menu a {
  padding: 0.8em 1em;
  background: white;
  display: block;
  text-align: center;
  color: var(--darkBlue);
  font-size: 1.1em;
}
@media screen and (min-width: 1024px) {
  .menu {
    display: flex;
  }
  .menu__button {
    display: none;
  }
  .menu__item {
    display: flex;
    align-items: center;
  }
}

.hero {
  text-align: center;
  padding-bottom: 3em;
  background: var(--veryLightGray);
}
.hero .copy {
  margin-bottom: 2.5em;
}
.hero__image {
  height: 300px;
  background: url("../images/image-mockups.png") center bottom no-repeat, url("../images/bg-intro-mobile.svg") center no-repeat;
  background-size: 345px, cover;
  margin: 0 calc(-1 * var(--wrapperSpace));
  margin-bottom: 1em;
}
@media screen and (min-width: 748px) {
  .hero {
    text-align: left;
    background: url("../images/bg-intro-desktop.svg") right -380px top -100px no-repeat;
    background-size: cover;
  }
  .hero__content {
    display: grid;
    grid-template-areas: "description image";
    grid-template-columns: 350px 1fr;
    min-height: 400px;
    align-items: center;
  }
  .hero__image {
    grid-area: image;
    min-height: inherit;
    background: url("../images/image-mockups.png") right -100px bottom no-repeat;
    background-size: cover;
    position: absolute;
    width: 500px;
    height: 500px;
    right: 0;
  }
}
@media screen and (min-width: 1024px) {
  .hero {
    text-align: left;
    background: url("../images/bg-intro-desktop.svg") right -550px top -200px no-repeat;
    background-size: cover;
  }
  .hero__content {
    display: grid;
    grid-template-areas: "description image";
    grid-template-columns: 480px 1fr;
    min-height: 500px;
    align-items: center;
  }
  .hero__image {
    grid-area: image;
    min-height: inherit;
    background: url("../images/image-mockups.png") right -80px bottom no-repeat;
    background-size: cover;
    position: absolute;
    width: 600px;
    height: 650px;
    right: 0;
  }
}

.why {
  text-align: center;
  padding-top: 4em;
  padding-bottom: 4em;
  background: var(--lightGrayBlue);
}
.why .copy {
  padding-bottom: 2em;
}
.why__item {
  margin-top: 2em;
}
.why__item img {
  margin-bottom: 1.5em;
}
.why__item .copy {
  padding-bottom: 1em;
}
@media screen and (min-width: 768px) {
  .why__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
  }
  .why__titleSection {
    max-width: 500px;
  }
  .why .title__h2 {
    text-align: left;
  }
  .why .copy {
    text-align: left;
  }
}
@media screen and (min-width: 1024px) {
  .why__titleSection {
    text-align: left;
  }
  .why__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
  }
  .why__item .copy {
    text-align: left;
  }
}

.lastest {
  background: var(--veryLightGray);
  text-align: center;
  padding: 5em 0;
}
.lastest__grid {
  display: grid;
  grid-row-gap: 2em;
}
.lastest__item {
  background: var(--white);
  border-radius: 0.5em;
  text-align: left;
  overflow: hidden;
}
.lastest__item-content {
  padding: 1.8em;
}
.lastest__item small {
  color: var(--grayBlue);
  margin-bottom: 1em;
  display: block;
}
.lastest__item .copy {
  color: var(--grayBlue);
}
.lastest__item img {
  width: 100%;
  object-fit: cover;
}
@media screen and (min-width: 768px) {
  .lastest__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
  }
  .lastest .title__h2 {
    text-align: left;
    margin-bottom: 1em;
  }
}
@media screen and (min-width: 1024px) {
  .lastest__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .lastest__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
  }
}

.footer {
  background: var(--darkBlue);
  color: var(--white);
  padding: 2em 0;
  text-align: center;
}
.footer__logo {
  display: block;
  margin: auto;
  margin-bottom: 2em;
}
.footer__social {
  display: grid;
  grid-template-columns: repeat(5, 25px);
  grid-column-gap: 1em;
  justify-content: center;
  margin-bottom: 2.5em 0;
}
.footer__link {
  display: block;
  color: var(--lightGray);
  text-decoration: none;
  margin-bottom: 2em;
}
.footer .icon__facebook {
  width: 40px;
  height: 40px;
  display: inline-flex;
  background-repeat: no-repeat;
  background-image: url(../images/icon-facebook.svg);
}
.footer .icon__youtube {
  width: 40px;
  height: 40px;
  display: inline-flex;
  background-repeat: no-repeat;
  background-image: url(../images/icon-youtube.svg);
}
.footer .icon__twitter {
  width: 40px;
  height: 40px;
  display: inline-flex;
  background-repeat: no-repeat;
  background-image: url(../images/icon-twitter.svg);
}
.footer .icon__pinterest {
  width: 40px;
  height: 40px;
  display: inline-flex;
  background-repeat: no-repeat;
  background-image: url(../images/icon-pinterest.svg);
}
.footer .icon__instagram {
  width: 40px;
  height: 40px;
  display: inline-flex;
  background-repeat: no-repeat;
  background-image: url(../images/icon-instagram.svg);
}
.footer__copyright {
  color: var(--grayBlue);
  margin-top: 2em;
}
@media screen and (min-width: 1024px) {
  .footer .wrapper {
    display: grid;
    grid-column-gap: 7em;
    grid-template-columns: 200px 1fr 400px;
    grid-template-areas: "logo links button" "social links copyright";
  }
  .footer__links {
    grid-area: links;
    display: grid;
    column-gap: 3em;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  .footer__logo {
    grid-area: logo;
    margin: initial;
  }
  .footer__social {
    grid-area: social;
  }
  .footer__button {
    grid-area: button;
  }
  .footer__copyright {
    grid-area: copyright;
  }
}

:root {
  --darkBlue: hsl(233, 26%, 24%);
  --limeGreen: hsl(136, 65%, 51%);
  --brightCyan: hsl(192, 70%, 51%);
  --grayBlue: hsl(233, 8%, 62%);
  --lightGrayBlue: hsl(220, 16%, 96%);
  --veryLightGray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --wrapperSpace: 1.5em;
  font-size: 16px;
}

.is-hidden {
  display: none !important;
}

body {
  margin: 0;
  font-family: "Public Sans", sans-serif;
  color: var(--grayBlue);
}

.wrapper {
  padding: 0 var(--wrapperSpace);
  max-width: calc(1115px + var(--wrapperSpace));
  margin: auto;
  width: 100%;
  box-sizing: border-box;
}

.copy {
  line-height: 1.7;
  font-size: 0.9em;
}

.title__h1 {
  font-weight: 300;
  color: var(--darkBlue);
  line-height: 1.2;
  margin: 0;
  margin-bottom: 0.5em;
  font-size: 2.5em;
}
.title__h2 {
  font-weight: 300;
  color: var(--darkBlue);
  line-height: 1.2;
  margin: 0;
  margin-bottom: 0.5em;
  font-size: 2em;
}
.title__h3 {
  font-weight: 300;
  color: var(--darkBlue);
  line-height: 1.2;
  margin: 0;
  margin-bottom: 0.5em;
  font-size: 1em;
}

.button {
  border: none;
  padding: 0.8em 2.2em;
  background-image: linear-gradient(to right, var(--limeGreen) 0%, var(--brightCyan) 100%);
  color: var(--white);
  font-size: 0.9em;
  border-radius: 1.5em;
}

/*# sourceMappingURL=styles.css.map */
